<link rel="stylesheet" href="/post.css">
<link rel="stylesheet" href="/new.css">


<div class="main">
    <section class="content">
      <form action="/post" method="POST">
        <div class="hero">
            
            <div class="genres">
                <label for="main-category">Main:</label>
                <input required class="tags" type="main-category" name="main-category" id="main-category" style="--genre:yellow">

                <label for="sub-category" >Genre: </label>
                <input class="tags" type="sub-category" name="sub-category" id="sub-category" style="--genre:red">
            </div>
            <div class="form-group">
                <label for="title">Title:<p>Write a Title for your Post. Keep it around 6-8 Words</p></label>
                <input required type="title" name="title" id="title">
            </div>
            <div class="info">
                <div class="author">
                    <img src="/img/" alt="";>
                    <p>Author: <a href="#">Name </a></p>
                </div>
                <p>Date: -/-/----</p>
            </div>
            <div class="form-group">
                <label for="description">Description:<p>Write a Short Description about your Post. Keep it between 1-2 Sentences. (NOTE: Not required)</p></label>
                <h2><textarea name="description" id="description"></textarea></h2>
            </div>
            <div class="img-box">
                <img src="/img/">
                <div class="form-group">
                    <label for="source">source:</label>
                    <input required type="source" name="source" id="source">
                </div>
            </div>
        </div>

        <div class="markdown">
            <div class="form-group">
                <label for="markdown">Markdown:<p>Write your post here. You can make it as long or as short as you want. Look at other blog posts on other websites to get the idea of how to write a post.</p></label>
                <textarea required name="markdown" id="markdown"></textarea>
            </div>
        </div>
      </form>

        <div class="share">
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
            <span class="fa fa-instagram"></span>
        </div>
    
        <a href="/" class="btn" style="--color:lightgray">Cancel</a>
        <button type="submit" class="btn" style="--color:yellow">Post</button> 

    </section>

    <aside class="sticky">
        <b style="color:yellow">MAIN:</b> <p>Anime, Manga, Guide, Review, Funko</p>
        <br>
        <b style="color:red">GENRE:</b> <p>Slice of Life, Sports, Romance, Action, Drama, Thriller, Fantasy (NOT REQUIRED)</p>
        <br>
        <b style="color:green">DESCRIPTION:</b><p>Displays when hovering on preview box. Default will be "Click to find out more". (NOT REQUIRED)</p>
        <br>
        <b style="color:skyblue">IMAGES:</b><p>Uploading Images is not currently available</p>
        <br>
        <b style="color:rgb(68, 68, 255)">SOURCE:</b><p>Paste the link to the image. Make sure you don't violate copyright. (Screenshots from anime/manga, IMDB images, Twitter)</p>
        <br>
        <b style="color:rgb(160, 0, 160)">MARKDOWN:</b><p>Use "#" in front of a sentence to make a header (Bigger Font)</p>
    </aside>
</div>

 