<link rel="stylesheet" href="post.css">

<div class="main">
    <section class="content">
    
        <div class="hero">
            <div class="genres">
                <a href="/coming-soon" style="--genre:yellow">Anime</a>
                <a href="/coming-soon" style="--genre:red">Drama</a>
            </div>
            <h1>Post Title Goes Here</h2>
            <div class="info">
                <div class="author">
                    <img src="img/Naoto.jpg" alt="";>
                    <p>Author: <a href="#">Name </a></p>
                </div>
                <p>Date: 5/3/2023</p>
            </div>
            <h2>Description goes here: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui libero corrupti minus distinctio laborum accusamus nobis perferendis deserunt quo at?</h2>
            <div class="img-box">
                <img src="img/CM.jpg">
                <a href="#">source</a>
            </div>
        </div>

        <div class="markdown">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates hic voluptatibus maiores velit nisi iste odit neque eveniet, laudantium est sed illum. Eveniet autem eos est vel numquam optio minima voluptate perspiciatis asperiores officiis ipsum aperiam rerum quae mollitia aspernatur earum quis laborum nostrum, non soluta omnis id maiores. Repudiandae voluptatum sequi nulla quasi incidunt nemo pariatur, nam magni enim aliquid non cupiditate. Repudiandae ducimus voluptatibus quas sequi tempora vitae adipisci labore aliquid recusandae non voluptatem, sit, fugit repellat, porro odio voluptas eaque itaque dolor. <br><br>Necessitatibus, quo? Dolore vero architecto nostrum. Iusto, commodi? Rerum ut nemo quisquam sint esse a molestiae cupiditate maxime perspiciatis, in laboriosam distinctio, modi voluptate recusandae, consequatur necessitatibus? Doloribus ratione ipsa corrupti harum sed est sapiente blanditiis labore voluptate esse quod magnam quidem asperiores aut ea facere, repudiandae impedit? Officiis illo dolorem mollitia quas debitis inventore quaerat impedit, voluptatem, culpa aliquid dolore repudiandae deserunt, quam amet aut consectetur maxime et eum incidunt harum eius quisquam distinctio laborum. Iusto quibusdam nemo at in. Aliquam in maiores numquam quia? Totam, quidem voluptas quae eligendi, veritatis libero soluta accusantium facere itaque, assumenda aliquam nulla eveniet. Doloremque fugiat illum provident eveniet sunt maiores excepturi consequatur quaerat cupiditate incidunt? Quos, odio!<br><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa perspiciatis odio unde animi voluptatibus dolorum possimus eum molestias ducimus ab id laborum quae nostrum iste voluptates totam officiis rem optio aliquam est illum minus, alias dolorem? Natus consequuntur molestias quod beatae sequi? Blanditiis eligendi corporis, nobis accusamus repellendus nulla neque ipsa aspernatur!<br><br> Quasi tenetur eveniet autem expedita aspernatur eius nemo dignissimos beatae exercitationem impedit doloribus, id fugiat odio facere praesentium sapiente natus recusandae labore earum voluptatum. Fugiat laboriosam ut odit, atque neque animi sint vitae debitis ipsa dolores possimus error saepe illo, ex temporibus mollitia cum quod corrupti sequi ea qui. Ab facilis debitis voluptatum illum, ea iure pariatur accusantium eum illo quibusdam minima quidem reiciendis asperiores aspernatur minus laboriosam inventore aliquam iusto incidunt animi corrupti, assumenda esse magni omnis! Explicabo minima at fugit modi quas enim eos, amet perferendis dolorum quos quisquam facilis beatae maiores cum, rerum, ipsam consectetur iusto nesciunt repudiandae obcaecati quae id. Ex reprehenderit rerum a hic possimus perferendis tempora nihil. Modi nulla officiis aliquam voluptas quo, sequi eos soluta. Dolorum impedit omnis reprehenderit delectus ullam nesciunt accusantium magni molestias, temporibus sed in beatae quas molestiae itaque necessitatibus quidem ipsa eaque exercitationem, ad expedita voluptatem ipsum!</p>
        </div>

        <div class="share">
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
            <span class="fa fa-instagram"></span>
        </div>
    
    </section>

    <aside class="sticky">
        <div class="ctgry">Other</div>
        <div class="sticky-container">
            <div class="box box1">
                <a href="#"> 
                    <div class="img-box">
                        <img src="img/FF.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Is the Fan Service too Much?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box2">
                <a href="#"> 
                    <div class="img-box">
                        <img src="img/luffy.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Who's Luffys Mom?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box3">
                <a href="#"> 
                    <div class="img-box">
                        <img src="img/CM.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Chainsaw Man review</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box4">
                <a href="#"> 
                    <div class="img-box">
                        <img src="img/usopp.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Usopps Death?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
        </div>

    </aside>
</div>