<div style="margin: 10vh 5vw; text-align: center;">
    <h2 style="font-size: 500%;">COMING SOON!</h2>
    <p style="color: lightgray">This page is under construction and will hopefully be done soon</p>
</div>
