<link rel="stylesheet" href="style.css">

<div class="container">

    <div class="cntsquare-1" style="background: linear-gradient(-90deg, #ffffff00, black)">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:21;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:19;"></span>
        </div>
    </div>
    
    <div class="grid-container-main">       
        <div class="box bg featured-1">
            <a href="/post/review-chainsaw-man"> 
                <div class="img-box">
                    <img src="img/CM.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>anime</b>
                    <h2>Chainsaw Man Comparison</h2>
                    <p>Comparing the 12 episodes of the Chainsaw Man anime and seeing how it differs from its original source material</p>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="https://www.youtube.com/watch?v=MyHg8jwcXZg&list=PLZl2WoG2wtoelIXI_AnZRVyfWqIl0heGO&index=1"> 
                <div class="img-box">
                    <img src="img/Box.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>manga</b>
                    <h2>Starting Hajime No Ippo?</h2>
                    <p>Click to read more!</p>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="https://www.viz.com/naruto"> 
                <div class="img-box">
                    <img src="img/Naruto.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>manga</b>
                    <h2>Boruto Chapter 79</h2>
                    <p>Click to read more!</p>
                </div>
            </a>
        </div>
       
        <a class="empty" style="--clr:yellow" href="/post/new"></a>

        <div class="box">
            <a href="/post"> 
                <div class="img-box">
                    <img src="img/vagabond.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>manga</b>
                    <h2>Vagabond: Best OAT</h2>
                    <p>Click to read more!</p>
                </div>
            </a>
        </div>
        <div class="box bg featured-2">
            <a href="/post">  
                <div class="img-box">
                    <img src="img/Vinland.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>anime</b>
                    <h2>Is Vinland Saga the greatest anime of 2023?</h2>
                    <p>Vinland Saga season 2 is currently coming out during the winter 2023 season and if you haven't caught up yet, now is the time to do so</p>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="/post/:id"> 
                <div class="img-box">
                    <img src="img/Tanjiro.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>anime</b>
                    <h2>Demon Slayer: Season 3</h2>
                    <p>Click to read more!</p>
                </div>
            </a>
        </div>
        
        <div class="box">
            <a href="/post"> 
                <div class="img-box">
                    <img src="img/luffy.jpg" alt="">
                </div>
                <div class="text-ctr">
                    <b>manga</b>
                    <h2>Who's Luffys Mom?</h2>
                    <p>Click to read more!</p>
                </div>
            </a>
        </div>
        <span class="empty" style="--clr:#1e9bff">

        </span>
        <span class="empty" style="--clr:white">
            
        </span>
        <span class="empty" style="--clr:green">
            
        </span>
    </div>
    
    <div class="cntsquare-2" style="background: linear-gradient(90deg, #ffffff00, black)">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:21;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:19;"></span>
        </div>
    </div>

    <div class="banner p-4">
        
    </div>  

    <div class="spacer borLeft"></div>

    <div class="grid-container-featured">
        <div class="grid-container-posts">
            <b class ="posts">RECENT POSTS</b>

            <div class="box md latest">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/triagex.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Why is Vol. 5 so hard to find?</h2>
                        <p>Triage X is a manga who has 3 volumes out of print meaning they are very hard to find and so they are pricey books</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/SE.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Scythes Ranked</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <p>Ranking of all the scythes in Soul Eater based on power, weilder, and IQ.</p>
            <div class="box">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/usopp.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Usopp's Death</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box md oldest">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/FF.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Is the fan service too much?</h2>
                        <p>One thing that is complained about a lot in fire force is the excessive and unnecessary amount of fan service</p>
                    </div>
                </a>
            </div>
            <div class="empty" style="--clr:#111">
            
            </div>
            <p>Go D. Usopp is the greatest person in fiction and if he dies, the entire Earth riots.</p>
            <div class="empty" style="--clr:#111">
            
            </div>
            <div class="empty" style="--clr:#111">
            
            </div>
            <div class="box">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/CB.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Favorite Animes</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <p>Cowboy Bebop came out in 1996 and yet it is still regarded as one of the greatest animes of all time.</p>
        </div>

        <div class="grid-container-category">
            <b class ="category">NEWS</b>

            <div class="box sm">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/BL.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Black Lagoon Season 3?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box sm">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/QQ.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Movie reveals winner</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box sm">
                <a href="/post"> 
                    <div class="img-box">
                        <img src="img/RE.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>game</b>
                        <h2>Resident Evil 4 Remake</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>

            <b class ="category">Funkos</b>
            <div class="box sm">
                <a href="/post">
                    <div class="img-box">
                        <img src="img/Brook.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>figure</b>
                        <h2>How to spot Brook Fakes</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>


    <div class="spacer borRight"></div>



</div>