*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    color: white;
}

.nav{
    z-index: -4;
    background-color: #111;
    grid-area: nav;
    align-items: center;
}

#check{
    display: none;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-links ul{
    display: inline-block;
    line-height: 80px;
}

.brand{
    font-size: 30px;
    color: white;
    text-decoration: none;
    z-index: 0;
}

.small-nav-btn{
    display: none;
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbutton{
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0px 10px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.navbutton:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.navbutton::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}
.navbutton span{
    position: relative;
    z-index: 1;
}

/*---Glicth Effect---*/
.glitch{
    font-size: 50px;
    position: relative;
    letter-spacing: 4px;
    cursor:pointer;
}
.glitch::before, .glitch::after{
    content: 'The Anime Grid!';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.glitch:hover::before{
    animation: glitch 0.3s linear infinite;
    color: blue;
    z-index: -1;
}
.glitch:hover::after{
    animation: glitch 0.3s linear infinite reverse;
    color: palevioletred;
    z-index: -2;
}

.footer{
    font-size: 120%;
    background: #0a0a0a;
    text-align: center;
    padding: 3rem;
}

.footer p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 75%;
}

.footer .socials{
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    margin: 1rem 0 1rem 0;
}

.footer .socials li{
    margin: 0 1rem;
}

.footer .socials a{
    text-decoration: none;
    color: rgb(0, 125, 255);
    transition: .5s;
}

.footer .socials a:hover{
    color: blue;
}

.footer .login{
    font-size: 1rem;
    color: gray;
}

.copyright{
    padding: 1rem;
    background: black;
    text-align: center;
}

@keyframes glitch{
    0%{
        top: 0;
        left: 0;
    }
    20%{
        top: -5px;
        left: -5px;
    }
    40%{
        top: 5px;
        left: -3px;
    }
    60%{
        top: -5px;
        left: -2px;
    }
    80%{
        top: 5px;
        left: -5px;
    }
    100%{
        top: 0;
        left: 0;
    }
}

@media only screen and (max-width: 1420px){
    
}

@media only screen and (max-width: 1280px){
    .glitch{
        font-size: 20px;
    }
    .nav-links a{
        padding: .1rem .25rem;
        text-align: center;
    }

    .navbutton{
        font-size: 12px;
    }

}

@media only screen and (max-width: 794px){
    .nav-links{
        flex-direction: column;
        width: 100%;
    }
    
    .nav-links ul{
        text-align: center;
        margin: 0px;
        background: #222;
        flex-direction: column;
        width: 100%;
    }

    .brand{
        margin: 1rem;
    }

    .nav{
        align-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links a{
        padding: 0rem .5rem;
        text-align: center;
    }

    .navbutton{
        font-size: 15px;
    }

}